section#booster-draft {
    @include flex(column);
    width: auto;
    height: auto;

    .title{
        margin: 0.5rem 1.5rem;
        padding: 1rem;
        width: auto;

        border-radius: 1rem;

        text-align: center;
        color: $light-color;
        font-family: $theme-text-montserrat;

        background-color: $accent-color;
    }

    .information-container {
        @include flex(row);
        justify-content: space-around;  
        gap: 10px;
        height: auto;
        width: auto;

        >#controls {
            @include flex(column);
            justify-content: space-around;
            align-items: flex-start;

            position: sticky;
            top: 2rem;

            margin: 0.25rem 2rem;
            height: 8rem;
            max-width: 100rem;
            min-width: 30rem;
            padding: 1rem;

            border-radius: 2rem;

            background-color: $dark-color;
            color: $light-color;
            font-family: $theme-text-montserrat;
            font-size: small;

            >.btn-container {
                >button {
                    @include btn-style(0.5rem, 0);
                    &:hover {
                        @include transform-hover();
                    }
                }
            }
        }

        >#booster {
            @include flex(row);
            justify-content: space-around;
            flex-wrap: wrap;
            gap: 5px;

            width: auto;
            margin: 2rem;
            height: auto;
        }
    }
}

section#deck-section {
    box-sizing: border-box;
    @include flex(column);
    width: 100%;
    height: auto;

    .title{
        margin: 0.5rem 1.5rem;
        padding: 1rem;
        width: auto;

        border-radius: 1rem;

        text-align: center;
        color: $light-color;
        font-family: $theme-text-montserrat;

        background-color: $accent-color;
    }

    .information-container {
        @include flex(row);
        justify-content: space-around;  
        gap: 10px;
        height: auto;
        width: 100%;

        >#actions {
            @include flex(column);
            justify-content: space-around;
            align-items: flex-start;

            position: sticky;
            top: 2rem;

            margin: 0.25rem 2rem;
            height: 8rem;
            max-width: 100rem;
            min-width: 30rem;
            padding: 1rem;

            border-radius: 2rem;

            background-color: $dark-color;
            color: $light-color;
            font-family: $theme-text-montserrat;
            font-size:medium;

            >.btn-container {
                >button {
                    @include btn-style(0.5rem, 0);
                    &:hover {
                        @include transform-hover();
                    }
                }
            }
        }

        >#deck {
            @include flex(column);
            justify-content: space-around;
            flex-wrap: wrap;
            gap: 5px;

            width: 100%;
            margin: 2rem;
            height: auto;
            .section-cards h3{
                text-align: center;
            }
            .cards-container{
                @include flex(row);
                justify-content: space-around;
                flex-wrap: wrap;
            }
        }
    }
}

/* Tablet */
@media screen and (max-width: 900px){
    #deck{
        width: 50%;
    }
    .information-container {
        width: 100%;
        @include flex(row);
        flex-wrap: wrap;
    }
    section#booster-draft .information-container #controls {
        min-width: 20rem;
        position: relative;
        z-index: 0;
    }

    section#deck-section .information-container {
        #actions {
            min-width: 20rem;
            position: relative;
            z-index: 0;   
        }
        #deck .section-cards .cards-container{
            
            @include flex(row);
            width: 100%;
            .section-cards figure {
                width: 10rem;
                height: 15rem;
            }
        }
    }
    section#booster {
        padding: 4rem;
        figure {
            width: 10rem;
            height: 15rem;
        }
    }
}

/* Telefono */
@media screen and (max-width: 450px){
    section#booster {
        padding: 0;
        figure {
            width: 10rem;
            height: 15rem;
        }
    }
    #deck{
        width: 20rem;
    }
    #deck .section-cards{
        @include flex(column);
        width: 100%;
         .cards-container{
            
            @include flex(column);
            width: 100%;
            .section-cards figure {
                width: 10rem;
                height: 15rem;
            }
        }
    }
}