<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="icon" href="./assets/images/logo.ico" type="image/ico">
    <!-- import index.js -->
    <script src="assets/js/index.js" defer></script>
    <title>Magic: The Gathering</title>
</head>
<body tabindex="1">
    <nav id="begin">
        <h1>WHERE THE MAGIC BEGINS</h1>
        <div class="btn-container">
            <button id="btn-booster"><a href="#booster-draft"> Booster Draft</a></button>
            <button id="btn-deck"><a href="#deck"> Check My Deck </a></button>
        </div>
    </nav>
    <main>
        <section id="booster-draft" tabindex="2">
            <h2 class="title">Booster Draft</h2>
            <section class="information-container">
                <section id="controls">
                    <h3> Controls</h3>
                    <h4> Booster Fetched: 000   </h4>
                    <div class="btn-container">
                        <button id="get-booster"> Get new Booster </button>
                        <button id="save-all"> Save All Cards </button>
                        <button id="clear-data"> Clear data </button>
                    </div>
                </section>
                <section id="booster" tabindex="2">
                    <!-- Aquí se van a autogenerar las cartas del booster -->
                    <figure tabindex='3'>
                        <img src="https://backs.scryfall.io/large/5/9/597b79b3-7d77-4261-871a-60dd17403388.jpg?1665006177" alt="Card Image" class="rare-mythic">
                        <div class="modal-container">
                            <div class="modal">
                                <div class="information">
                                    <h3 class="name">Baron Sengir</h3>
                                    <h3 class="strength-resistance">5/5</h3>
                                    <h3 class="rarity">Rare</h3>
                                </div>
                                <button class="add">+</button>
                                <h3 class="typeline">Legendary Creature - Vampire</h3>
                            </div>
                        </div>
                    </figure>
                    <figure tabindex='4'>
                        <img src="https://backs.scryfall.io/large/5/9/597b79b3-7d77-4261-871a-60dd17403388.jpg?1665006177" alt="Card Image" class="uncommon">
                        <div class="modal-container">
                            <div class="modal">
                                <div class="information">
                                    <h3 class="name">Baron Sengir</h3>
                                    <h3 class="strength-resistance">5/5</h3>
                                    <h3 class="rarity">Rare</h3>
                                </div>
                                <button class="add">+</button>
                                <h3 class="typeline">Legendary Creature - Vampire</h3>
                            </div>
                        </div>
                    </figure>
                    <figure tabindex='5'>
                        <img src="https://backs.scryfall.io/large/5/9/597b79b3-7d77-4261-871a-60dd17403388.jpg?1665006177" alt="Card Image" class="uncommon">
                        <div class="modal-container">
                            <div class="modal">
                                <div class="information">
                                    <h3 class="name">Baron Sengir</h3>
                                    <h3 class="strength-resistance">5/5</h3>
                                    <h3 class="rarity">Rare</h3>
                                </div>
                                <button class="add">+</button>
                                <h3 class="typeline">Legendary Creature - Vampire</h3>
                            </div>
                        </div>
                    </figure>
                    <figure tabindex='6'>
                        <img src="https://backs.scryfall.io/large/5/9/597b79b3-7d77-4261-871a-60dd17403388.jpg?1665006177" alt="Card Image" class="uncommon">
                        <div class="modal-container">
                            <div class="modal">
                                <div class="information">
                                    <h3 class="name">Baron Sengir</h3>
                                    <h3 class="strength-resistance">5/5</h3>
                                    <h3 class="rarity">Rare</h3>
                                </div>
                                <button class="add">+</button>
                                <h3 class="typeline">Legendary Creature - Vampire</h3>
                            </div>
                        </div>
                    </figure>
                    <figure tabindex='7'>
                        <img src="https://backs.scryfall.io/large/5/9/597b79b3-7d77-4261-871a-60dd17403388.jpg?1665006177" alt="Card Image" class="common">
                        <div class="modal-container">
                            <div class="modal">
                                <div class="information">
                                    <h3 class="name">Baron Sengir</h3>
                                    <h3 class="strength-resistance">5/5</h3>
                                    <h3 class="rarity">Rare</h3>
                                </div>
                                <button class="add">+</button>
                                <h3 class="typeline">Legendary Creature - Vampire</h3>
                            </div>
                        </div>
                    </figure>
                    <figure tabindex='8'>
                        <img src="https://backs.scryfall.io/large/5/9/597b79b3-7d77-4261-871a-60dd17403388.jpg?1665006177" alt="Card Image" class="common">
                        <div class="modal-container">
                            <div class="modal">
                                <div class="information">
                                    <h3 class="name">Baron Sengir</h3>
                                    <h3 class="strength-resistance">5/5</h3>
                                    <h3 class="rarity">Rare</h3>
                                </div>
                                <button class="add">+</button>
                                <h3 class="typeline">Legendary Creature - Vampire</h3>
                            </div>
                        </div>
                    </figure>
                    <figure tabindex='9'>
                        <img src="https://backs.scryfall.io/large/5/9/597b79b3-7d77-4261-871a-60dd17403388.jpg?1665006177" alt="Card Image" class="common">
                        <div class="modal-container">
                            <div class="modal">
                                <div class="information">
                                    <h3 class="name">Baron Sengir</h3>
                                    <h3 class="strength-resistance">5/5</h3>
                                    <h3 class="rarity">Rare</h3>
                                </div>
                                <button class="add">+</button>
                                <h3 class="typeline">Legendary Creature - Vampire</h3>
                            </div>
                        </div>
                    </figure>
                    <figure tabindex='10'>
                        <img src="https://backs.scryfall.io/large/5/9/597b79b3-7d77-4261-871a-60dd17403388.jpg?1665006177" alt="Card Image" class="common">
                        <div class="modal-container">
                            <div class="modal">
                                <div class="information">
                                    <h3 class="name">Baron Sengir</h3>
                                    <h3 class="strength-resistance">5/5</h3>
                                    <h3 class="rarity">Rare</h3>
                                </div>
                                <button class="add">+</button>
                                <h3 class="typeline">Legendary Creature - Vampire</h3>
                            </div>
                        </div>
                    </figure>
                    <figure tabindex='11'>
                        <img src="https://backs.scryfall.io/large/5/9/597b79b3-7d77-4261-871a-60dd17403388.jpg?1665006177" alt="Card Image" class="common">
                        <div class="modal-container">
                            <div class="modal">
                                <div class="information">
                                    <h3 class="name">Baron Sengir</h3>
                                    <h3 class="strength-resistance">5/5</h3>
                                    <h3 class="rarity">Rare</h3>
                                </div>
                                <button class="add">+</button>
                                <h3 class="typeline">Legendary Creature - Vampire</h3>
                            </div>
                        </div>
                    </figure>
                    <figure tabindex='12'>
                        <img src="https://backs.scryfall.io/large/5/9/597b79b3-7d77-4261-871a-60dd17403388.jpg?1665006177" alt="Card Image" class="common">
                        <div class="modal-container">
                            <div class="modal">
                                <div class="information">
                                    <h3 class="name">Baron Sengir</h3>
                                    <h3 class="strength-resistance">5/5</h3>
                                    <h3 class="rarity">Rare</h3>
                                </div>
                                <button class="add">+</button>
                                <h3 class="typeline">Legendary Creature - Vampire</h3>
                            </div>
                        </div>
                    </figure>
                    <figure tabindex='13'>
                        <img src="https://backs.scryfall.io/large/5/9/597b79b3-7d77-4261-871a-60dd17403388.jpg?1665006177" alt="Card Image" class="common">
                        <div class="modal-container">
                            <div class="modal">
                                <div class="information">
                                    <h3 class="name">Baron Sengir</h3>
                                    <h3 class="strength-resistance">5/5</h3>
                                    <h3 class="rarity">Rare</h3>
                                </div>
                                <button class="add">+</button>
                                <h3 class="typeline">Legendary Creature - Vampire</h3>
                            </div>
                        </div>
                    </figure>
                    <figure tabindex='14'>
                        <img src="https://backs.scryfall.io/large/5/9/597b79b3-7d77-4261-871a-60dd17403388.jpg?1665006177" alt="Card Image" class="common">
                        <div class="modal-container">
                            <div class="modal">
                                <div class="information">
                                    <h3 class="name">Baron Sengir</h3>
                                    <h3 class="strength-resistance">5/5</h3>
                                    <h3 class="rarity">Rare</h3>
                                </div>
                                <button class="add">+</button>
                                <h3 class="typeline">Legendary Creature - Vampire</h3>
                            </div>
                        </div>
                    </figure>
                    <figure tabindex='15'>
                        <img src="https://backs.scryfall.io/large/5/9/597b79b3-7d77-4261-871a-60dd17403388.jpg?1665006177" alt="Card Image" class="common">
                        <div class="modal-container">
                            <div class="modal">
                                <div class="information">
                                    <h3 class="name">Baron Sengir</h3>
                                    <h3 class="strength-resistance">5/5</h3>
                                    <h3 class="rarity">Rare</h3>
                                </div>
                                <button class="add">+</button>
                                <h3 class="typeline">Legendary Creature - Vampire</h3>
                            </div>
                        </div>
                    </figure>
                    <figure tabindex='16'>
                        <img src="https://backs.scryfall.io/large/5/9/597b79b3-7d77-4261-871a-60dd17403388.jpg?1665006177" alt="Card Image" class="common">
                        <div class="modal-container">
                            <div class="modal">
                                <div class="information">
                                    <h3 class="name">Baron Sengir</h3>
                                    <h3 class="strength-resistance">5/5</h3>
                                    <h3 class="rarity">Rare</h3>
                                </div>
                                <button class="add">+</button>
                                <h3 class="typeline">Legendary Creature - Vampire</h3>
                            </div>
                        </div>
                    </figure>
                    <figure tabindex='17'>
                        <img src="https://backs.scryfall.io/large/5/9/597b79b3-7d77-4261-871a-60dd17403388.jpg?1665006177" alt="Card Image" class="basic">
                        <div class="modal-container">
                            <div class="modal">
                                <div class="information">
                                    <h3 class="name">Baron Sengir</h3>
                                    <h3 class="strength-resistance">5/5</h3>
                                    <h3 class="rarity">Rare</h3>
                                </div>
                                <button class="add">+</button>
                                <h3 class="typeline">Legendary Creature - Vampire</h3>
                            </div>
                        </div>
                    </figure>

                </section>
            </section>
        </section>

        <section id="deck-section">
            <h2 class="title"> Deck </h2>
            <section class="information-container">
                <section id="actions">
                    <h3> Actions </h3>
                    <div class="btn-container">
                        <button id="save-deck"> Save Deck </button>
                        <button id="load-deck"> Load Deck </button>
                        <button id="clear-deck"> Clear Deck </button>
                    </div>
                </section>
                <section id="deck">
                    <!-- Aquí se van a agregar las cartas del booster -->
                    <section class="section-cards">
                        <h3>Sorry, you don't have cards in your deck :(</h3>
                        <hr>
                        <section class="cards-container">
                        </section>

                    </section>
                </section>
            </section>
        </section>
    </main>
    <!-- Loader -->
        <div class="loader-container">
            <div class="lds-dual-ring"></div>
        </div>
</body>
</html>